src/META-INF/wsdl/domeintabellen-idsw-ws.rws.nl/DomainTableWS.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://rws.services.nl/DomainTableWS/2010/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rws.services.nl/DomainTableWS/2010/10">
    <xs:import schemaLocation="http://domeintabellen-idsw-ws.rws.nl/DomainTableWS.svc?xsd=xsd2" namespace="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
    <xs:element name="GetDomainTableNames">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="request" nillable="true" type="q1:GetDomainTableNamesRequest" xmlns:q1="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDomainTableNamesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetDomainTableNamesResult" nillable="true" type="q2:GetDomainTableNamesResponse" xmlns:q2="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDateLastPublished">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="request" nillable="true" type="q3:GetDateLastPublishedRequest" xmlns:q3="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDateLastPublishedResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetDateLastPublishedResult" nillable="true" type="q4:GetDateLastPublishedResponse" xmlns:q4="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDomainTableChangesInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="request" nillable="true" type="q5:GetDomainTableChangesInfoRequest" xmlns:q5="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDomainTableChangesInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetDomainTableChangesInfoResult" nillable="true" type="q6:GetDomainTableChangesInfoResponse" xmlns:q6="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDomainTableChanges">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="request" nillable="true" type="q7:GetDomainTableChangesRequest" xmlns:q7="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDomainTableChangesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetDomainTableChangesResult" nillable="true" type="q8:GetDomainTableChangesResponse" xmlns:q8="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDomainTableInfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="request" nillable="true" type="q9:GetDomainTableInfoRequest" xmlns:q9="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDomainTableInfoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetDomainTableInfoResult" nillable="true" type="q10:GetDomainTableInfoResponse" xmlns:q10="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDomainTable">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="request" nillable="true" type="q11:GetDomainTableRequest" xmlns:q11="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetDomainTableResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GetDomainTableResult" nillable="true" type="q12:GetDomainTableResponse" xmlns:q12="http://rws.services.nl/DomainTableWS/Contracts/2010/10"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>