src/META-INF/wsdl/domeintabellen-idsw-ws.rws.nl/DomainTableWS.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://rws.services.nl/DomainTableWS/Contracts/2010/10" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://rws.services.nl/DomainTableWS/Contracts/2010/10">
    <xs:complexType name="GetDomainTableNamesRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="CheckDate" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDomainTableNamesRequest" nillable="true" type="tns:GetDomainTableNamesRequest"/>
    <xs:complexType name="GetDomainTableNamesResponse">
        <xs:sequence>
            <xs:element name="DomainTableNames" nillable="true" type="tns:DomainTableNames"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDomainTableNamesResponse" nillable="true" type="tns:GetDomainTableNamesResponse"/>
    <xs:complexType name="DomainTableNames">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DomainTableNames" nillable="true" type="tns:DomainTableNames"/>
    <xs:complexType name="DomainTableFault">
        <xs:sequence>
            <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DomainTableFault" nillable="true" type="tns:DomainTableFault"/>
    <xs:complexType name="GetDateLastPublishedRequest">
        <xs:sequence>
            <xs:element name="DomaintableName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDateLastPublishedRequest" nillable="true" type="tns:GetDateLastPublishedRequest"/>
    <xs:complexType name="GetDateLastPublishedResponse">
        <xs:sequence>
            <xs:element name="MostRecentPublicationDate" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDateLastPublishedResponse" nillable="true" type="tns:GetDateLastPublishedResponse"/>
    <xs:complexType name="GetDomainTableChangesInfoRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="CheckDate" type="xs:dateTime"/>
            <xs:element name="DomaintableName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDomainTableChangesInfoRequest" nillable="true" type="tns:GetDomainTableChangesInfoRequest"/>
    <xs:complexType name="GetDomainTableChangesInfoResponse">
        <xs:sequence>
            <xs:element name="MaxDataRowsInResponse" type="xs:int"/>
            <xs:element name="MetaData" nillable="true" type="tns:MetaData"/>
            <xs:element name="Name" nillable="true" type="xs:string"/>
            <xs:element name="TotalDataRows" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDomainTableChangesInfoResponse" nillable="true" type="tns:GetDomainTableChangesInfoResponse"/>
    <xs:complexType name="MetaData">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="MetaDataColumn" nillable="true" type="tns:MetaDataColumn"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="MetaData" nillable="true" type="tns:MetaData"/>
    <xs:complexType name="MetaDataColumn">
        <xs:sequence>
            <xs:element name="ColumnNumber" type="xs:int"/>
            <xs:element name="Datatype" type="tns:DtDatatype"/>
            <xs:element name="Description" nillable="true" type="xs:string"/>
            <xs:element name="FieldLength" type="xs:int"/>
            <xs:element name="Name" nillable="true" type="xs:string"/>
            <xs:element name="NumberOfDecimals" type="xs:int"/>
            <xs:element minOccurs="0" name="PKSequenceNumber" type="xs:int"/>
            <xs:element name="Required" type="xs:boolean"/>
            <xs:element name="Unique" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="MetaDataColumn" nillable="true" type="tns:MetaDataColumn"/>
    <xs:simpleType name="DtDatatype">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DtString"/>
            <xs:enumeration value="DtInteger"/>
            <xs:enumeration value="DtDouble"/>
            <xs:enumeration value="DtDateTime"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="DtDatatype" nillable="true" type="tns:DtDatatype"/>
    <xs:complexType name="GetDomainTableChangesRequest">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:RequestPageBase">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CheckDate" type="xs:dateTime"/>
                    <xs:element name="DomaintableName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetDomainTableChangesRequest" nillable="true" type="tns:GetDomainTableChangesRequest"/>
    <xs:complexType name="RequestPageBase">
        <xs:sequence>
            <xs:element name="PageSize" type="xs:int"/>
            <xs:element name="StartPage" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RequestPageBase" nillable="true" type="tns:RequestPageBase"/>
    <xs:complexType name="GetDomainTableChangesResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:PagingResultSet">
                <xs:sequence>
                    <xs:element name="Data" nillable="true" type="tns:Data"/>
                    <xs:element name="Name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetDomainTableChangesResponse" nillable="true" type="tns:GetDomainTableChangesResponse"/>
    <xs:complexType name="PagingResultSet">
        <xs:sequence>
            <xs:element name="DataRowsReadPage" type="xs:int"/>
            <xs:element name="PageSize" type="xs:int"/>
            <xs:element name="TotalDataRows" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="PagingResultSet" nillable="true" type="tns:PagingResultSet"/>
    <xs:complexType name="Data">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="DataRow" nillable="true" type="tns:DataRow"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Data" nillable="true" type="tns:Data"/>
    <xs:complexType name="DataRow">
        <xs:sequence>
            <xs:element name="BeginDate" type="xs:dateTime"/>
            <xs:element name="EndDate" type="xs:dateTime"/>
            <xs:element name="Fields" nillable="true" type="tns:Fields"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DataRow" nillable="true" type="tns:DataRow"/>
    <xs:complexType name="Fields">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="DataField" nillable="true" type="tns:DataField"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Fields" nillable="true" type="tns:Fields"/>
    <xs:complexType name="DataField">
        <xs:sequence>
            <xs:element name="IsNull" type="xs:boolean"/>
            <xs:element name="Name" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="DataField" nillable="true" type="tns:DataField"/>
    <xs:complexType name="StringField">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:DataField">
                <xs:sequence>
                    <xs:element name="Data" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="StringField" nillable="true" type="tns:StringField"/>
    <xs:complexType name="IntegerField">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:DataField">
                <xs:sequence>
                    <xs:element name="Data" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="IntegerField" nillable="true" type="tns:IntegerField"/>
    <xs:complexType name="DoubleField">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:DataField">
                <xs:sequence>
                    <xs:element name="Data" type="xs:double"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DoubleField" nillable="true" type="tns:DoubleField"/>
    <xs:complexType name="DateTimeField">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:DataField">
                <xs:sequence>
                    <xs:element name="Data" type="xs:dateTime"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="DateTimeField" nillable="true" type="tns:DateTimeField"/>
    <xs:complexType name="BooleanField">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:DataField">
                <xs:sequence>
                    <xs:element name="Data" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="BooleanField" nillable="true" type="tns:BooleanField"/>
    <xs:complexType name="GetDomainTableInfoRequest">
        <xs:sequence>
            <xs:element minOccurs="0" name="CheckDate" type="xs:dateTime"/>
            <xs:element name="DomaintableName" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDomainTableInfoRequest" nillable="true" type="tns:GetDomainTableInfoRequest"/>
    <xs:complexType name="GetDomainTableInfoResponse">
        <xs:sequence>
            <xs:element name="MaxDataRowsInResponse" type="xs:int"/>
            <xs:element name="MetaData" nillable="true" type="tns:MetaData"/>
            <xs:element name="Name" nillable="true" type="xs:string"/>
            <xs:element name="TotalDataRows" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GetDomainTableInfoResponse" nillable="true" type="tns:GetDomainTableInfoResponse"/>
    <xs:complexType name="GetDomainTableRequest">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:RequestPageBase">
                <xs:sequence>
                    <xs:element minOccurs="0" name="CheckDate" type="xs:dateTime"/>
                    <xs:element name="DomaintableName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetDomainTableRequest" nillable="true" type="tns:GetDomainTableRequest"/>
    <xs:complexType name="GetDomainTableResponse">
        <xs:complexContent mixed="false">
            <xs:extension base="tns:PagingResultSet">
                <xs:sequence>
                    <xs:element name="Data" nillable="true" type="tns:Data"/>
                    <xs:element name="Name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GetDomainTableResponse" nillable="true" type="tns:GetDomainTableResponse"/>
</xs:schema>